{% extends 'base.html' %}
{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function fn1() {
            var choices = document.getElementsByName('itemChoice');
            var selectedChoice = null;
            for (var i = 0; i < choices.length; i++) {
                if (choices[i].checked) {
                    selectedChoice = choices[i].value;
                    break;
                }
            }
    
            if (selectedChoice === null) {
                showModal('Please select an option.');
                return; // Exit the function early
            }
    
            var attempts = JSON.parse(localStorage.getItem('attempts') || '[]');
            
            // Add the selected choice if it's not already in the attempts array
            if (!attempts.includes(selectedChoice)) {
                attempts.push(selectedChoice);
                localStorage.setItem('attempts', JSON.stringify(attempts));
            }
    
            function handleAttemptCompletion() {
                var choiceMessages = {
                    'a': 'Nothing interesting in the TV stand... want to try something else?',
                    'b': 'You have looked up into the bookshelf, but you did not find anything:( Let us try another location.',
                    'c': 'Did not find anything in the carpet, let us try another place.',
                    'd': 'You got your hands dirty but there is nothing in the plant... maybe give somewhere else another try.'
                };
    
                if (attempts.length >= 1) {
                    // Now we redirect based on the last choice made
                    var lastChoice = attempts[attempts.length - 1];
                    switch (lastChoice) {
                        case 'a': window.location.href = 'livingroomA'; break;
                        case 'b': window.location.href = 'livingroomA'; break;
                        case 'c': window.location.href = 'livingroomA'; break;
                        case 'd': window.location.href = 'livingroomA'; break;
                        default: showModal('Please select an option.'); break;
                    }
                    localStorage.removeItem('attempts');
                } else {
                    var locationMessage = choiceMessages[selectedChoice] || "a location";
                    showModal(`${locationMessage}`);
                }
            }
    
            handleAttemptCompletion();
        }
    
        function showModal(message) {
            var modalText = document.getElementById('modalText');
            var myModal = document.getElementById('myModal');
            if(modalText && myModal) {
                modalText.textContent = message;
                myModal.style.display = "block";
            }
        }
    
        // Set up close functionality
        var closeButton = document.getElementsByClassName("close")[0];
        var myModal = document.getElementById('myModal');
        if(closeButton && myModal) {
            closeButton.onclick = function() {
                myModal.style.display = "none";
            };
            window.onclick = function(event) {
                if (event.target == myModal) {
                    myModal.style.display = "none";
                }
            };
        }
        // Bind the fn1 function to the continue button click event
        document.getElementById('btn1').addEventListener('click', fn1);
    });
</script>
{% endblock %}

{% block main_text %}
<p class="t_title">
    It is your day off today, what would you like to do?
    <br><br>
    <!-- <img src="{{ url_for('static', filename='img/livingroom.jpg') }}" alt="Example Image"  width="100%;" > -->
</p>
    
    <form id="itemSearchForm">
        <input type="radio" id="tvStand" name="itemChoice" value="a">
        <label for="tvStand">A. Watch a movie</label><br>
        
        <input type="radio" id="underSofa" name="itemChoice" value="b">
        <label for="underSofa">B. Work out</label><br>
        
        <input type="radio" id="underCarpet" name="itemChoice" value="c">
        <label for="underCarpet">C. Learn something new</label><br>
        
        <input type="radio" id="insidePlant" name="itemChoice" value="d">
        <label for="insidePlant">D. Write a diary</label><br>
    </form>

</p>
{% endblock %}

{% block continue %}
<button onclick="fn1()" id="btn1" class="continue-btn">Continue</button>
{% endblock %}
